.profile__edit-button {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/edit-Button.svg);
    background-color: #000;
    outline: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 18px;
    border: 1px solid #FFFFFF;
}
.profile__edit-button:hover {
    opacity: 0.6;
  }
@media screen and (max-width: 576px) {
    .profile__edit-button {
        margin-left: 10px;
        height: 18px;
        width: 18px;
    }
}