.header {
    display: flex;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    justify-content: space-between;
}
@media screen and (max-width: 576px) {
    .header {
      margin: 28px 0 0;
    }
  }